{
    "extends": "airbnb", 
    "parserOptions": {
        "ecmaVersion": 9
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true 
    },
    "rules": {
        "comma-dangle": 1,
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ]
    }
}